@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,700;1,400&display=swap");

* {
  font-family: "Muli", sans-serif;
  color: #ccc;
}

html,
body {
  background-color: #333;
  padding: 0;
  text-align: center;
}

body{
  transition:opacity .1s;
  opacity:1;
}

body.fade{
  opacity:0;
}

p {
  text-align: center;
  display:inline-block;
  width:37.5%;
  margin:0;
  padding:0;
}

h3 {
  text-align: left;
  border-bottom:.1em solid;
  width:50%;
  display:inline-block;
}

.dropdown {
  text-align: center;
}

fieldset {
  border: .1em solid;
  border-radius: 1em;
  padding: 0 0.25em 0.5em 0.25em;
  width: 50%;
  display: inline-block;
  text-align: left;
  cursor: pointer;
}

button {
  transition:border-top .1s,margin-bottom .1s;
  border: .1em solid #ccc;
  border-radius: 1em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  background-color: #333;
  font-size: 1.1em;
  cursor: pointer;
  border-top: .4em solid #ccc;
  margin:0;
  margin-bottom: 0em;
  display:inline-block;
}



button:hover{
  border-top: .3em solid #ccc;
  margin-bottom: .1em;
}

button:active{
  border-top: .15em solid #ccc;
  margin-bottom: .25em;
}

select {
  background-color: #333;
  border: 0;
  font-size: 1.1em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 100%;
  cursor: pointer;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: .1em solid #222;
  background-color:#111;
  color:#eee;
  margin: 0;
  padding: calc(4em / 3) .1em calc(4em / 3) .1em;
  width: 100%;
  min-height: calc(4em / 3);
  line-height:1em;
  display: table-cell;
  vertical-align:middle;
}

img{
  height:18.75%;
  width:auto;
  display:inline-block;
  -webkit-filter:hue-rotate(180deg) brightness(80%) invert(100%);
  filter:hue-rotate(180deg) brightness(80%) invert(100%);
}

@media screen and (orientation: portrait) {
  fieldset,p,h3,img {
    width: 87.5%;
  }
  img{
    height:auto;
  }
}